* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main canvas {
    outline: none;
}